body {
    padding-top: 55px;
}

.output-well{
    height:auto;
    max-height: 600px;
    overflow: auto;
}

.input-well{
    width: auto;
    padding: 0;
    height:600px;
    max-height: 700px;
    overflow: auto;
    margin: 20px 0 20px 0;
}

textarea.input-textarea {
    width: 98%;
    height: auto;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
    min-width: 350px;
    max-width: 98%;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size:18px;
}