.output-well{
    height:auto;
    max-height: 600px;
    overflow: auto;
    margin-top: 20px;
}

pre {
	border:0;
}

.input-well{
    width: auto;
    padding: 0;
    height:auto;
    max-height: 700px;
    overflow: auto;
    margin: 20px 0 20px 0;
}

textarea.input-textarea {
    width: 98%;
    height: auto;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
    min-width: 350px;
    max-width: 98%;
}